<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title></title>
</head>

<body>
	<section>
		<div class="card mr-3 ml-3">
			<div class="card-body">
				<div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
					<p class="text-center" th:text="${session.message.content}"></p>
					<th:block th:remove="all"></th:block>
				</div>
				<h1 class="text-center">Update Contacts</h1>
				<div class="container-fluid mt-1">
					<div class="row">
						<div class="col-md-8 offset-md-2">

							<form novalidate th:object="${contact}" method="post" enctype="multipart/form-data"
								th:action="@{/user/process-update}" class="mt-2">

								<input type="hidden" th:value="${contact.cId}" name="cId" />
								<!--This field is made to get the id in the handler-->

								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text mr-3">
											<i class="fa fa-plus"></i>
										</div>
									</div>
									<input th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}" type="text"
										id="firstName" name="name" placeholder="Enter name here" class="form-control"
										th:value="${contact.name}" />
									<div class="invalid-feedback" th:each="e : ${#fields.errors('name')}"
										th:text="${e}">
									</div>
								</div>

								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text mr-3">
											<i class="fa fa-plus"></i>
										</div>
									</div>
									<input th:classappend="${#fields.hasErrors('secondName') ? 'is-invalid' : ''}"
										type="text" id="secondName" name="secondName"
										placeholder="Enter second name here" class="form-control"
										th:value="${contact.secondName}" />
									<div class="invalid-feedback" th:each="e : ${#fields.errors('secondName')}"
										th:text="${e}">
									</div>
								</div>

								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text mr-3">
											<i class="fa fa-phone"></i>
										</div>
									</div>
									<input th:classappend="${#fields.hasErrors('phone') ? 'is-invalid' : ''}"
										type="number" id="phone" name="phone" placeholder="Enter phone number here"
										class="form-control" th:value="${contact.phone}" />
									<div class="invalid-feedback" th:each="e : ${#fields.errors('phone')}"
										th:text="${e}">
									</div>
								</div>

								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text mr-3">
											@
										</div>
									</div>
									<input th:classappend="${#fields.hasErrors('email') ? 'is-invalid' : ''}"
										type="email" id="email" name="email" placeholder="Enter E-mail here"
										class="form-control" th:value="${contact.email}" />
									<div class="invalid-feedback" th:each="e : ${#fields.errors('email')}"
										th:text="${e}">
									</div>
								</div>

								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text mr-3">
											<i class="fa fa-briefcase"></i>
										</div>
									</div>
									<input th:classappend="${#fields.hasErrors('work') ? 'is-invalid' : ''}" type="text"
										id="work" name="work" placeholder="Enter your work here" class="form-control"
										th:value="${contact.work}" />
									<div class="invalid-feedback" th:each="e : ${#fields.errors('work')}"
										th:text="${e}">
									</div>
								</div>

								<div class="form-group mt-3">
									<textarea th:text="${contact.description}" placeholder="Enter your Description here"
										name="description" id="mytextarea" class="form-control" rows="10"></textarea>
								</div>

								<div class="container text-center">
									<img style="width:250px; height:250px;" class="img-fluid my-profile-picture"
										th:src="@{'/img/' + ${contact.image}}" alt="" />
								</div>

								<div class="custom-file">
									<p class="text-seconday">Choose a new profile picture</p>
									<input type="file" name="fileImage" />
								</div>

								<div class="container text-center">
									<button class="btn btn-outline-primary">Save Contact</button>
								</div>

							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
		<script>
			tinymce.init({
				selector: '#mytextarea'
			});
		</script>

	</section>
</body>

</html>